body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

a{
    color: #ccc;
    text-decoration: none;
}

#mywebsite{
    width: 100%;
    margin-left: auto; 
    margin-right: auto;
}

body section:first-child {
    height: 700px;
    width: 100%;
    color: white;
    text-align: center;
    vertical-align: middle;
    display: flow-root;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.5)), url(../img/landing-img.jpg);
    
}

#landing p{
    text-shadow: 1px 1px black;
}

h1{
    color: white;
    text-align: center;
    margin-top: 20%;
    font-size: 3vw;
    margin-bottom: 10px;
    text-shadow: 2px 2px black;
}

#services {
    clear: both;
    display: inline-block;
    width: 100%;
    margin-top: 100px;
    background-color: #efefef;
    text-align: center;
    padding-bottom: 60px;
}

h2{
    text-align: center;
    margin-top: 100px;
}


#blog{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}



#blog div {
    width: 24%;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 10px;
    padding-bottom: 20px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;

}

#blog div img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

#blog div p, #blog div a{
    margin-left: 20px;
    margin-right: 20px;
}



#blog div h3{
    padding-left: 30px;
}

#blog div:hover{
    background-color: black;
    color: white
}

#blog div:hover a{
    color: white;
    text-decoration: none;
}

